body{
    font-family: 'Segoe UI';
    background-color: rgb(74, 135, 186);
    margin:0;
    padding: 20px;
}

h2{
    text-align:center;
    font-weight:bold;
    color:yellow;
    margin-top: 10px;
}

.back-link{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
}
.back-link button{
    background-color:red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.back-link button:hover{
    background-color:green;
}
.add-link{
    text-align: center;
    margin: 20px 0;
}
.add-link button{
    background-color: green;
    border: 1px solid #a31c7f;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.add-link button:hover{
    background-color:white;
}
.driver-table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color:rgb(138, 219, 62);
    box-shadow: 0px 4px 8px yellow;
    border-radius: 8px;
    overflow: hidden;
}
.driver-table th{
    background-color: #8f166f;
    color: white;
    padding: 15px;
    text-align: center;
}
.driver-table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid red;
    color: black;
    font-weight: bold;
}
.driver-table tr:hover {
    background-color: orange;
}
.driver-table td a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.driver-table td a:hover{
    background-color: rgb(221, 38, 38);
    text-decoration: underline;
}