.manage-notices {
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    background: rgba(138, 43, 226, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.notice-table th, .notice-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.delete-btn {
    color: red;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid rgb(195, 42, 42);
    border-radius: 5px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: yellow;
    color: white;
}