body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
}

.notice-form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;              
    background: blueviolet;
    padding: 40px;         
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    width: 400px;         
}

.notice-form h2 {
    color: black;
    margin: 0 0 10px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.notice-form input[type="text"], 
.notice-form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    color: black;
    box-sizing: border-box;
}

.notice-form textarea {
    height: 120px; 
    resize: none;
}

.notice-form button {
    width: 150px;   
    height: 50px;
    background-color: rgb(84, 205, 84);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.notice-form button:hover {
    background-color: skyblue;
    color: black;
}

.notice-form input:focus, .notice-form textarea:focus {
    box-shadow: 0 0 12px red;
}