.back-btn{
    background-color: whitesmoke!important;
    color: rgb(179, 5, 5) !important;
    font-size: 15px;
    font-weight: bold ;
    text-decoration: none;
    padding: 2px 15px;
    display: block;
    width: 60px;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid rgb(179, 5, 5);
}