body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sidebar{
    background: linear-gradient(180deg,
  rgb(68,68,184),
  rgb(226, 12, 12)
    );
    color:white;
    width: 250px;
    height:100vh;
    padding:20px;
    box-sizing: border-box;
    flex-shrink: 0;
    background-attachment: local;    
}
.sidebar a{
    display:block;
    color:white;
    padding:15px 0;
    text-decoration:none;
    border-bottom:1px solid #444;
}
.sidebar a:hover{
    color:#00D4FF;
}