.main-content{
    flex:1;
    background-image: url('../Images/dcar.jpg');              
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.main-content h1{
    color: yellow;
    font-size:65px;
    margin-bottom:10px;
}
.main-content p{
    color: white;
    font-size:24px;
    font-weight: bold;
    margin-bottom:12px;
}