body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}
.sidebar{
    background: linear-gradient(180deg,
    rgb(68, 68, 184),
    rgb(222, 42, 42),
    rgb(220,220,36)
    );
    color:white;
    width: 200px;
    height:100vh;
    padding:20px;    
}
.sidebar a{
    display:block;
    color:white;
    padding:15px 0;
    text-decoration:none;
    border-bottom:1px solid #444;
}
.sidebar a:hover{
    color:#00D4FF;
}