body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sidebar{
    background: linear-gradient(180deg,
  rgb(68,68,184),
  rgb(226, 12, 12)
    );
    color:white;
    width: 250px;
    height:100vh;
    padding:20px;
    box-sizing: border-box;
    flex-shrink: 0;    
}
.sidebar a{
    display:block;
    color:white;
    padding:15px 0;
    text-decoration:none;
    border-bottom:1px solid #444;
}
.sidebar a:hover{
    color:#00D4FF;
}
.main-content{
    flex:1;
    background-image: url('../Images/emergency.jpg');              
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.main-content h1{
    color:white;
    font-size:45px;
    margin-bottom:20px;
}
.main-content p{
    color:white;
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
}  