body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sidebar{
    background: linear-gradient(180deg,
  rgb(68,68,184),
  rgb(226, 12, 12)
    );
    color:white;
    width: 250px;
    height:100vh;
    padding:20px;
    box-sizing: border-box;
    flex-shrink: 0;    
}
.sidebar a{
    display:block;
    color:white;
    padding:15px 0;
    text-decoration:none;
    border-bottom:1px solid #444;
}
.sidebar a:hover{
    color:#00D4FF;
}
.main-content{
    flex:1;
    background-image: url('../Images/emergency.jpg');              
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.main-content h1{
    color: rgb(54, 1, 1);
    font-size:45px;
    margin-bottom:10px;
}
.main-content p{
    color: rgb(81, 173, 230);
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
}
.table-container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.emergency-table {
    width: 90%;
    min-height: 400px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.emergency-table th{
    background: rgb(78, 77, 77);
    color: white;
    padding: 15px;
    font-size: 25px;
}
.emergency-table td{
    padding: 15px;
    color: black;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.emergency-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
}
.num{
    color: #ffd700;
    font-weight: bold;
    font-size: 20px;

}