.main-content{
    flex:1;
    background-image: url('../Images/emergency.jpg');              
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
}
.main-content h1{
    color: rgb(54, 1, 1);
    font-size:45px;
    margin-bottom:10px;
}
.main-content p{
    color: rgb(79, 152, 198);
    font-size:24px;
    font-weight: bold;
    margin-bottom:20px;
}
.table-container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.emergency-table {
    width: 90%;
    min-height: 400px;
    border-collapse: collapse;
    background: rgb(194, 180, 255);
    border-radius: 15px;
    overflow: auto;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.emergency-table th{
    background: rgb(78, 77, 77);
    color: white;
    padding: 15px;
    font-size: 25px;
}
.emergency-table td{
    padding: 15px;
    color: black;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.emergency-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
}
.num{
    color: #ffd700;
    font-weight: bold;
    font-size: 20px;

}
.form-section {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-section input{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.form-section button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgb(194, 180, 255);
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.form-section button:hover{
    background: #008fb3;
}
.emergency-table a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.emergency-table a:hover{
    color: #ffd700;
}