.hidden {
    display: none !important;
}
.main-content{
    flex:1;
    background-image: url('../Images/location.jpg');              
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
}
.main-content h1{
    color: #0342a0;
    font-size:45px;
    margin-bottom:10px;
    text-align: center;
}
.main-content p{
    color: rgb(144, 4, 4);
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
    text-align: center;
}
#placesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
}

.place-card {
    background: #fff;
    width: 450px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;   
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.place-card:hover {
    border-color: #0342a0;
}
.place-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.place-card h2 {
    font-size: 24px;
    text-align: center;
    margin: 15px;
    color: #2c3e50;
}
.place-card p {
    font-size: 16px;
    text-align: left;
    color: #555;
    margin: 0 15px 15px 15px;
    line-height: 1.5;
    flex-grow: 1;
}
.place-card a {
    display: block;
    text-align: center;
    margin: 0 15px 15px 15px;
    padding: 12px;
    background-color: #0342a0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.place-card a:hover {
    background-color: #022a6e;
}
#districtSelect {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
