.hidden {
    display: none !important;
}
.main-content{
    flex:1;
    background-image: url('../Images/wallpaper.jpg');              
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
}
.main-content h1{
    color: #0342a0;
    font-size:45px;
    margin-bottom:10px;
    text-align: center;
}
.main-content p{
    color: rgb(144, 4, 4);
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
    text-align: center;
}
.place-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);   
    margin-bottom: 30px;
    max-width: 500px;
}
#place-Select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
#place-Select:hover {
    border-color: #0342a0;
}
#detailsBox {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);   
    max-width: 600px;
}