body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sidebar{
    background: linear-gradient(180deg,
  rgb(68,68,184),
  rgb(226, 12, 12)
    );
    color:white;
    width: 250px;
    height:100vh;
    padding:20px;
    box-sizing: border-box;
    flex-shrink: 0;
    background-attachment: local;    
}
.sidebar a{
    display:block;
    color:white;
    padding:15px 0;
    text-decoration:none;
    border-bottom:1px solid #444;
}
.sidebar a:hover{
    color:#00D4FF;
}
.main-content{
    flex:1;
    background-image: url('../Images/note.jpg');              
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
}
.main-content h1{
    color: rgb(54, 1, 1);
    font-size:45px;
    margin-bottom:10px;
    text-align: center;
}
.main-content p{
    color: rgb(6, 139, 222);
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
    text-align: center;
}
.form-section {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto 20px auto;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-section form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.form-inputs-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-section-p{
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}
.form-section input, .form-section textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
.form-section button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00D4FF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}
.form-section button:hover{
    background: #008fb3;
}
.btn-cancel{
    padding: 10px 20px;
    border-radius: 5px;
    background: #777;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13.3px;
    display: inline-block;
    transition: 0.3s;
}
.btn-cancel:hover{
    background: #555;
    color: white;
}

.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    gap: 15px;
}
.note-box {
    flex: 1;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);   
    overflow: hidden;
}
.note-header {
    background: rgb(78, 77, 77);
    padding: 7px;
}
.note-header h3 {
    color: white;
    margin: 0;
    font-size: 22px;
}
.note-body {
    padding: 10px;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
.note-footer {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
}
.note-footer a{
    display: block;
    color: white;
    padding: 8px 16px;
    background: #00D4FF;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    text-align: center;
}
.note-footer a:hover{
    background: #008fb3;
    color: white;

}

