.main-content{
    flex:1;
    background-image: url('../Images/trip.jpg');              
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
}
.main-content h1{
    color: red;
    font-size:45px;
    margin-bottom:10px;
    text-align: center;
}
.main-content p{
    color: rgb(163, 3, 163);
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
    text-align: center;
}
.form-section {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto 20px auto;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-section form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.form-inputs-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-section-p{
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}
.form-section input, .form-section textarea{
    background: rgba(255, 203, 134, 0.866);
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
.form-section button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}
.form-section button:hover{
    background: orangered;
}
.btn-cancel{
    padding: 10px 20px;
    border-radius: 5px;
    background: #777;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13.3px;
    display: inline-block;
    transition: 0.3s;
}
.btn-cancel:hover{
    background: #555;
    color: white;
}

.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    gap: 15px;
}
.note-box {
    flex: 1;
    background: rgba(254, 216, 165, 0.866);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);   
    overflow: hidden;
}
.note-header {
    background: rgb(110, 110, 110);
    padding: 7px;
}
.note-header h3 {
    color: white;
    margin: 0;
    font-size: 22px;
}
.note-body {
    padding: 10px;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
.note-footer {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
}
.note-footer a{
    display: block;
    color: white;
    padding: 8px 16px;
    background: orange;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    text-align: center;
}
.note-footer a:hover{
    background: orangered;
    color: white;

}

