.nav-login{
    flaot:left;
    margin-left:1100px;

    background:rgb(221, 28, 28);
    padding:10px 15px;
    border-radius: 20px;
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:bold;
}