body {
    display : flex ;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:whitesmoke;
    font-family: Arial, sans-serif;
}
form{
  background:white;
  padding:60px;
  border-radius:20px;
  border:2px solid rgb(225, 135, 8)
  font-size:20px;
}
form h2{
    font-size:30px;
    margin-bottom:20px;
    text-align:center;
    color:black
}
input[type="text"]{
    padding:10px;
    font-size:18px;
    border-radius:15px;
    border:1px solid rgb(250, 3, 3);
    width: 100%;
    box-sizing:border-box;
}
input[type="submit"]
{
    padding:10px;
    font: size 20px;
    font-weight:bold;
    cursor:pointer;
    background: rgb(219, 31, 31);
    border:none;
    border-radius:15px;
    width:100%;
    color:white

}
form p{
    font-size:18px;
    margin-top:15px;
    text-align:center;
}